.all-posts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.all-posts-container .allposts-headers h2 {
  margin-top: 9vh;
}

.all-posts-div {
  margin: 35px 40%;
  padding: 30px;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.all-posts-card {
  margin: 20px;
  width: 100%;
  -webkit-box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.8);
  border: 3px solid #fff;
  border-radius: 20px;
  max-height: 100%;
  overflow: auto;
}
