.comment-posts-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.comments-page {
  min-height: 100vh !important;
  background: rgb(236, 240, 226);
  margin-bottom: -15px;
}

.comments-page h2 {
  text-align: center;
  margin-top: 11vh;
}

.comment-container {
  border: 2px solid #3d3b8b;
  border-radius: 8px;
  margin: 30px auto;
  max-width: 700px;
  background: #f9f9f9;
  padding: 25px 45px;
  -webkit-box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.8);
}

.tree {
  height: 20px;
  padding-right: 10px;
}

.comment {
  padding: 5px 0px;
}

.reply-btn {
  margin-top: 10px;
}

.comment-posts-card {
  margin: 20px 50px;
  width: 70%;
  max-width: 1200px;
  -webkit-box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.8);
  border: 3px solid #fff;
  color: #f9f9f9;
  border-radius: 20px !important;
  max-height: 100%;
  overflow: auto;
  background-color: #6883ba !important;
}

.biz-name {
  margin-top: -20px !important;
}

/* .card {
  position: relative;
  margin: 20px 50px;
  width: 100%;
  max-width: 1200px;
  -webkit-box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.8);
  border: 3px solid #fff;
  color: #f9f9f9;
  border-radius: 20px !important;
  max-height: 100%;
  overflow: auto;
  background-color: #6883ba !important;
} */
