.business {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.deleteBtn {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.accountButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}
