.Homepage {
  margin: 10vw 40px 40px 40px;
  min-height: 100vh;
}

/* Homepage top */
.homepage-top {
  display: flex;
  border-bottom: 1px solid #000;
  padding-bottom: 50px;
}
.homepage-header-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.homepage-header {
  font-size: calc(1.5rem + 1.5vw) !important;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}

.homepage-para p {
  padding: 10px;
}

.signup-link-div ul li,
.login-link-div ul li {
  list-style: none;
  padding: 5px;
}

.link-div {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.accordion {
  width: 250px !important;
}

.accordion-body {
  background: #f8f9fa !important;
}

.signup-link-div ul li a,
.login-link-div ul li a {
  color: #6b6b6b !important;
}

.signup-link-div ul li a:hover,
.login-link-div ul li a:hover {
  opacity: 0.8;
}

.homepage-img {
  padding: 10px;
  margin: 0 20px 0 0;
}

.homepage-img img {
  height: 350px;
  width: 400px;
  border: 5px solid #000;
  border-radius: 50%;
}

/* Homepage featured */
.home-featured {
  margin-top: 50px;
}
.featured-header {
  text-align: center;
  margin-bottom: 20px;
  text-decoration: underline;
}

.featured-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-posts img {
  height: 300px;
  width: 375px;
  border: 3px solid #000;
  border-radius: 8px;
  margin: 75px auto;
}

/* media queries */
@media screen and (max-width: 750px) {
  /* home top section */
  .homepage-top {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #000;
    padding-bottom: 25px;
  }
  .homepage-header-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  .homepage-header {
    /* font-size: 18px !important; */
    font-weight: bold;
    text-align: center;
    margin: 35px auto 40px;
  }

  .homepage-para {
    margin: 5px 25px;
  }

  .homepage-para p {
    padding: 5px;
  }

  .homepage-img {
    display: none;
  }

  .homepage-img img {
    height: 175px;
    width: 225px;
    border: 5px solid #000;
    border-radius: 50%;
  }

  /* featured section */
  .featured-header {
    text-align: center;
    margin-bottom: 20px;
  }

  .featured-posts img {
    height: 250px;
    width: 325px;
    margin: 75px auto;
  }
}

.feat-posts-card {
  margin: 20px;
  width: 70%;
  max-width: 1000px;
  -webkit-box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.8);
  border: 3px solid #fff;
  color: #f9f9f9;
  border-radius: 20px !important;
  max-height: 100%;
  overflow: auto;
  background-color: #6883ba !important;
}
